.feedback-container{
    background-color: rgb(246, 246, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15rem;

}
.feedback__title{
    width: 38rem;
    text-align: center;
}
.feedback__title > .sub-text-sm-grey{
    margin: 1rem 0;
}
.feedback__main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.feedback__left{
    position: relative;
    width: 30%;
}
.feedback__backimg{
    position: absolute;
    bottom: 0.2rem;
    right: -0.5rem;
    height: 25rem;
    width: 29rem;
      
    background-color:rgb(198, 198, 232) ;
   border-radius: 1rem;
   border-top-left-radius: 50%;
   /* transform: skew(50deg, 0deg,10deg 10deg); */
    z-index: 0;
}
/* .feedback__backimg2{
    position: absolute;
    bottom: 0.2rem;
    right: 5rem;
    height: 20rem;
    width: 30rem;
      
    background-color:rgb(198, 198, 232) ;
   border-radius: 1rem;
   transform: skewX(-20deg);
   z-index: 0;
} */
.feedback__left > img{
    width: 100%;
    position: relative;
    z-index: 5;
}
.feedback__right{
    width: 30%;

}
.feedback__right-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.feedback__right-profile > img{
    width: 5rem;
    height: 5rem;
}
.swiper-slide > .sub-text-sm-grey{
    margin: 1rem 0;
}

.feedback__stars > i::before{
    color: rgb(255, 225, 0) !important;
}


.swiper.swiper1 {
    width: 600px;
    height: 300px;
  }
  .ss2 {
       
      padding: 0 1rem;
  }

  .swiper-pagination-bullet{
     border: none !important;
  }