.fd-container{
     
    display: flex;
    justify-content: center;
    gap: 15rem;
     
}
.fd__left{
    width: 32%;
   
}
.fd__left > .sub-text-section-grey{
    margin: 2rem 0;
}
.fs__menu-item{
    width: 85%;
}
.fs__menu-line{
    width: fit-content;
    transform: rotate(90deg);
   margin: 1.8rem 0;
   color: rgba(128, 128, 128, 0.226);
}
.fs__menu-line::before{
    content: " ______ ";
    
}
.fd__menu-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.fs__menu-sub{
    display: flex;
}
.fs__menu-sub > p{
    
}
.fs__menu-icon{
    width: fit-content;
    background-color: rgba(0, 0, 255, 0.134);
    padding: 0.5rem;
    border-radius: 50%;
}
.fs__menu-icon1{
    background-color: rgba(137, 43, 226, 0.127);
}
.fs__menu-icon1::before{
    color: blueviolet;
}
.fs__menu-icon2{
    background-color: rgba(13, 0, 255, 0.104);
}
.fs__menu-icon2::before{
    color: rgb(102, 0, 255);
}
.fs__menu-icon3{
    background-color: rgba(172, 255, 47, 0.205);
}
.fs__menu-icon3::before{
    color: rgb(36, 212, 68);
}
 .fd__right{
     position: relative;
      
 }   
.fd__box{
    position: absolute;
    top: 9rem;
    left: -11rem;
    background-color: white;
    width: 11rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.159);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.fd__box > p{
    margin-bottom: 0.5rem;
    
    
}
.fd__inp{
    position: relative;
}
.fd__inp > input{
    background-color: rgba(0, 0, 255, 0.023);
    padding: 0.6rem 0;
    padding-left: 1.9rem;
    border: 2px solid rgba(179, 176, 176, 0.563);
    border-radius: 0.4rem;
    width: 8.5rem;
    width: 100%;
    
}
.fd__inp-icon{
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
}
.fd__btn-grp > button{
    width: 100%;

}
.fd__btn-grp >button> i::before{
    color: snow !important;
    margin-right: 0.2rem;
}
.fd__btn-grp >button{
    text-align: start;
    padding-left:0.8rem ;
    background-color: var(--primary-blue);
    color: snow;
    padding: 0.6rem ;
    border-radius: 0.4rem;
    cursor: pointer;
}

.fd__bg{
    position: absolute;
    top: 0;
    width: 30rem;
    height: 20rem;
    right: -3rem;
    top: 6rem;
    background-color: rgb(231, 231, 241);
    border-radius: 40% 60% 30% 50%;
    z-index: -2;
    
}
.fd__bg0:nth-child(3){
    position: absolute;
    top: 0;
    width: 32rem;
    height: 22rem;
    right: -4rem;
    top: 5rem;
    background-color:transparent ;
    border: 3px solid rgb(231, 231, 241);
    border-radius: 40% 60% 30% 50%;
    z-index: -2;
     
}
.fd__bg0:nth-child(4){
    position: absolute;
    top: 0;
    width: 34rem;
    height: 24rem;
    right: -5rem;
    top: 4rem;
    background-color:transparent ;
    border: 3px solid rgb(231, 231, 241);
    border-radius: 40% 60% 30% 50%;
    z-index: -2;
     
}


@keyframes fadein-out {
    0%{
        border-color: rgb(224, 224, 237);
    }
    50%{
        border-color: rgba(224, 224, 237, 0.2);
    
    }
    100%{
        border-color: rgb(224, 224, 237);
    }
}

