.ps{
     margin-top: 12rem;
     padding: 2rem 7rem;
}
.ps__main{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.ps__items{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.108);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    width: 13%;
    border: 3px solid transparent;
    transition-property: "background-color","border-color";
    transition-delay: 0.4s;
    
}
.swiper-wrapper{
     
}
.op0{
   transition: 2s;
    opacity: 0;
}
.ps__case{
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}
.ps__case:hover{
    color: rgb(71, 71, 71);
}
.ps__case-active{
    color: var(--main-color);
}
 .ps__case-active:hover{
    color: var(--main-color) !important;
}
.swiper{
    
    margin: 0 1rem;
    padding: 0 1rem;
    margin-bottom: -2rem;
}
.wrapper-text{
    margin-top: 1.5rem;
    padding:0 2rem ;
     height: 8rem;
}
.ps__right{
    width: fit-content;
}
.ps__items:hover{
background-color: rgba(208, 208, 238, 0.236);
border-color:rgb(208, 208, 238) ;
cursor: pointer;
}
.ps__left{

    border-right: 3px solid var(--main-color);
    padding: 0rem 1rem;
    
}
.ps__left p{
    line-height: 2.5rem;
}
.ps__items img{
    width: 2.5rem;
}